# Libraries

In [1]:
import pandas as pd

<b>Aim</b>: This script creates two dataframes with the linked and linking frequencies by pages.

# Internal links

In [2]:
df = pd.read_csv('data/page_link.tsv', sep='\t')
df

            page_id  linked_page_id
0              4748         5878274
1              9773         5878274
2             15154         5878274
3             25213         5878274
4             73634         5878274
...             ...             ...
566536986   9853359        63389944
566536987  49729654        63389945
566536988  53256679        63389948
566536989  54266640        63389953
566536990  59787448        63389953

[566536991 rows x 2 columns]

Linked frequencies are calculated.

In [3]:
df1 = df[['linked_page_id']].groupby(['linked_page_id']).size().reset_index(name='linked')
df1.rename({'linked_page_id':'page_id'}, axis=1, inplace=True)
df1

          page_id  linked
0              12    4130
1              25    2454
2              39    1428
3              53      23
4             290     823
...           ...     ...
9824257  68103340       1
9824258  68103353      15
9824259  68103355       1
9824260  68103359       1
9824261  68103373       1

[9824262 rows x 2 columns]

Linked frequencies are exported.

In [4]:
df1.to_csv('data/page_linked_freq.tsv', sep='\t', index=False)

Linking frequencies are calculated.

In [5]:
df2 = df[['page_id']].groupby(['page_id']).size().reset_index(name='links')
df2

           page_id  links
0               10      3
1               12   1541
2               13      3
3               14      3
4               15      3
...            ...    ...
15958747  68102338      1
15958748  68102341      5
15958749  68102343      1
15958750  68102349      1
15958751  68102577     14

[15958752 rows x 2 columns]

Linking frequencies are exported.

In [6]:
df2.to_csv('data/page_links_freq.tsv', sep='\t', index=False)